{
  "bot_id": "",
  "db_creds": {
    "database": "postgres",
    "user": "postgres",
    "password": "admin",
    "host": "localhost",
    "port": "5432"
  },
  "mail_info": {
    "mail_creds": {
      "email_id": "ymanish97@outlook.com",
      "password": "Manish@1234",
      "smtp_server": "outlook.office365.com",
      "smtp_port": "587"
    },
    "mail_to": {
      "lvl1": ["rupeshsingh.choudhary@sequelstring.com"],
      "lvl2": []
    },
    "mail_cc": {
      "lvl1": ["prathamesh.das@sequelstring.com"],
      "lvl2": []
    },
    "subject": {
      "error": "Gonda-Digitalisation Process - Error Mail",
      "info": "Gonda-Digitalisation Process - Info Mail",
      "report-daily": "",
      "report-summary": "Gonda-Digitalisation Process - report"
    }
  },
  "file_dir": {
    "excel_path": "D:\\tata_power_gonda\\gonda_process\\file_dir\\excel_file",
    "scan_pdf_path": "D:\\tata_power_gonda\\gonda_process\\file_dir\\scan_pdf",

    "temp_file": "D:\\tata_power_gonda\\gonda_process\\file_dir\\temp",
    "output_folder": "D:\\tata_power_gonda\\gonda_process\\file_dir\\output",

    "worked_folder": "D:\\tata_power_gonda\\gonda_process\\file_dir\\file_path\\invoice",
    "duplicate_folder": "D:\\tata_power_gonda\\gonda_process\\file_dir\\file_path\\duplicate",
    "new_formats": "D:\\tata_power_gonda\\gonda_process\\file_dir\\file_path\\other",
    "error_folder": "D:\\tata_power_gonda\\gonda_process\\file_dir\\file_path\\error",

    "box_folder": "D:\\tata_power_gonda\\gonda_process\\box",
    
    "report_path": "D:\\tata_power_gonda\\gonda_process\\file_dir\\report"
  },
  "report_dir": {
    "report": "report.csv"
  },
  "api_creds": {
    "url": "https://sequeldocapi.azurewebsites.net/api/sequelDoc?code=_kma-N8nyRg4TWA9ft_NpHWaHhSMLC6lpW5mmEWezh4IAzFuHZf_1Q=="
  }
}
